<div class="row">
  <div class="col-lg-12">
    <div class="about content">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">About</h3>
        </div>
        <div class="panel-body">
          <h4>What it is</h4>
          <p>
            <strong>ASTROHUB</strong> is a website developed with the purpose of assembling many different services that provide data about our universe.
            For now, we have two of them available: APOD and CATE.
          </p>
          <p>
            The <strong>Astronomy Picture of the Day (APOD)</strong> service gets an image or video of our universe each day, as well as some information
            on said media. This way, each day you access our website, you will find a different and fascinating picture of our amazing universe and learn
            a lot about the topic concerning that media.
          </p>
          <p>
            The <strong>Close Approaches to Earth (CATE)</strong> service provides data on asteroids that are coming close to our planet. You can filter them
            by date range (from two days up to one week), distance to Earth and also visualize many information like diameter, magnitude and even if an asteroid
            is a potential danger.
          </p>
          <br>
          <h4>How it works</h4>
          <p>
            This website uses APIs provided by NASA to get all the data for the APOD and CATE services. They are free to use and available to everybody who wishes
            to develop their own applications.
          </p>
          <p>
            We use the APOD API for the APOD service, and the NeoWS web service for the CATE service.
          </p>
          <p>
            For more information on these APIs, as well as for others that might interest you, please check NASA's Open APIs website at: <a href="https://api.nasa.gov" target="_blank">api.nasa.gov</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
