<div class="row">
  <div class="col-lg-12">
    <div class="content">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">About</h3>
        </div>
        <div class="panel-body">
          <h4>What it is</h4>
          <p>
            <strong>NASA's Picture of the Day</strong> is a simple website to show each day a different image or video of our beautiful universe
            chosen by NASA itself. Accompanying each picture, there is a description with more information on the subject of the media.
          </p>
          <p>You can also have access to the media archive by choosing a specific date on the date picker located at the center top of the home page.
          </p>
          <br>
          <h4>How it works</h4>
          <p>
            This website uses an API called APOD (Astronomy Picture of the Day), provided by NASA, that allows us to request a picture from their
            database as well as some other information like the description of the media.
          </p>
          <p>
            For more information on the APOD API, please check NASA Open APIs website:
            <a href="https://api.nasa.gov/api.html#apod" target="_blank">api.nasa.gov/api.html#apod</a>
          </p>
        </div>
      </div>
      <span id="developer">Developed by <a href="https://www.linkedin.com/in/hcgustavo/" target="_blank">Gustavo Henrique Caixeta</a></span>
    </div>
  </div>
</div>
