<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <div class="jumbotron">
          <h1>Close Approaches to Earth</h1>
          <h2>Close approaches to the Earth by NEOs (near-Earth objects)</h2>
        </div>
        <div class="panel panel-info cate">
          <div class="panel-heading">
            <form class="form-inline">
              <div class="form-group">
                <select class="form-control" id="neoDateRange" ng-model="dateRange">
                  <option value="2" >Within 2 days</option>
                  <option value="3" >Within 3 days</option>
                  <option value="4" >Within 4 days</option>
                  <option value="5" >Within 5 days</option>
                  <option value="6" >Within 6 days</option>
                  <option value="7" >Within 7 days</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" id="neoNominalDist" ng-model="missDistance">
                  <option value="0.5">Miss distance <= 0.5au</option>
                  <option value="0.4">Miss distance <= 0.4au</option>
                  <option value="0.3">Miss distance <= 0.3au</option>
                  <option value="0.2">Miss distance <= 0.2au</option>
                  <option value="0.1">Miss distance <= 0.1au</option>
                  <option value="0.05">Miss distance <= 0.05au</option>
                </select>
              </div>
              <button class="btn btn-default" ng-click="filter(dateRange, missDistance)">Filter</button>
            </form>
          </div>
          <div class="panel-body">
            <table class="table table-striped display" id="cate-table">
              <thead>
                <th>Object</th>
                <th>CA Date</th>
                <th>Miss distance (au)</th>
                <th>V relative (Km/s)</th>
                <th>H (mag)</th>
                <th>Estimated diameter (m)</th>
                <th>Potentially hazardous</th>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <h4>Legend</h4>
            <p><strong>CA Date</strong> = Close Approach Date</p>
            <p><strong>V relative</strong> = Object velocity relative to Earth at close-approach</p>
            <p><strong>H (mag)</strong> = Asteroid absolute magnitude (in general, smaller H implies larger asteroid diameter)</p>
            <p><strong>Estimated Diameter</strong> = Diameter range (min - max) estimated from the asteroid's absolute magnitude (H) and limiting albedos of 0.25 and 0.05</p>
            <p><strong>au</strong> = Astronomical Unit (approximately 150 million kilometers)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mymodal mymodal-hide" id="mymodal-loading">
  <div class="mymodal-content-loading">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5><strong>Loading data... Please wait</strong></h5>
        <img src="ajax-loader.gif" alt="">
      </div>
    </div>
  </div>
</div>
