<div class="astrohub-home">
  <div class="jumbotron">
    <h1>Welcome to <span>ASTR<i class="fa fa-globe" aria-hidden="true"></i>HUB</span></h1>
    <h3>Find out more about our universe through a gathering of services provided by NASA</h3>
  </div>
  <div class="container">
    <div class="apod-presentation">
      <div class="row">
        <div class="col-md-3">
          <img class="thumbnail" src="imgs/tim-foster-192465.jpg" alt="">
        </div>
        <div class="col-md-9">
          <h2>APOD - Astronomy Picture of the Day</h2>
          <h4>Stop by everyday to get a beautiful image or video of our universe and learn more about the subject of the day</h4>
        </div>
      </div>
    </div>

    <div class="cate-presentation">
      <div class="row">
        <div class="col-md-3">
          <img class="thumbnail" src="imgs/asteroid.jpg" alt="">
        </div>
        <div class="col-md-9">
          <h2>CATE - Close Approaches to Earth</h2>
          <h4>Know the asteroids that are comming close to our planet up until one week</h4>
        </div>
      </div>
    </div>
  </div>
</div>
